<handlers>
  <add name="iisnode" path="server/entry.mjs" verb="*" modules="iisnode" />
</handlers>

<rewrite>
  <rules>
    <rule name="DynamicContent">
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="server/entry.mjs" />
    </rule>
  </rules>
</rewrite>